.header-bar{
    background-color: #323334;
    padding: 35px 120px;
 
}

.header{
    display: flex;
    justify-content: space-between;
}

.tabs{
    margin: 54px 0;
    text-align: center;
}

button{
    margin: 0 14px;
    background-color: #FF4343;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    border-radius:5px ;
    cursor: pointer;
}

input{
    width: 285px;
    border: 1px solid #FF0909;
    background-color: transparent;
    height: 40px;
    outline: none;
    border-radius: 5px;
    color: white;
    padding-left: 20px;
}

::placeholder{
    color: white;
    font-size: 16px;
}

